
.login-div {
    background-image: url("/nnnoise.svg");
    border: 1px solid white;
    width: 25rem;
    cursor: url("https://cur.cursors-4u.net/cursors/cur-11/cur1021.cur"), auto;
}

.p-login{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-div:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}


.circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    transition: transform 0.1s ease-out;
    filter: drop-shadow(0 0 10px rgba(255, 69, 0, 0.8)); /* Fire Glow */
  }
  .hide-cursor .circle {
    display: none !important;
  }
  